.github/
.idea/
.gradle/
target/
out/
gradle/
build/
vscode/
.fleet/
gradle*
gradlew
*.kts
*.bat
*.cmd
*.sh
*.jar
*.class
*.iml
*.exe
*.png
*.jpg
*.jpeg
*.log
*.yml
*.svg
HEADER
LICENSE
.*ignore
.*config
