# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will build a Java project with Gradle and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-gradle

name: Sonar CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Build with Gradle
      uses: gradle/gradle-build-action@bd5760595778326ba7f1441bcf7e88b49de61a25 # v2.6.0
      with:
        arguments: build-sonar

    - name: Upload Bukkit Build
      uses: actions/upload-artifact@v3.1.3
      with:
          # Artifact name
          name: Sonar
          # A file, directory or wildcard pattern that describes what to upload
          path: build/libs/Sonar-Bukkit.jar
          if-no-files-found: error

    - name: Upload BungeeCord Build
      uses: actions/upload-artifact@v3.1.3
      with:
          # Artifact name
          name: Sonar
          # A file, directory or wildcard pattern that describes what to upload
          path: build/libs/Sonar-Bungee.jar
          if-no-files-found: error

    - name: Upload Velocity Build
      uses: actions/upload-artifact@v3.1.3
      with:
          # Artifact name
          name: Sonar
          # A file, directory or wildcard pattern that describes what to upload
          path: build/libs/Sonar-Velocity.jar
          if-no-files-found: error
